/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Header */
header{
    height: 200px;
    background: #d6eaeb;
    color: #f9a10f;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
}
.logoHeader{
    width: 200px;
    margin-left: 30px;
}
.divH1{
    text-align: center;
}
h1{
    margin: 0 0 20px;
    font-size: 3.3em;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: 1px 1px 3px #000000bf;
}
.divH1 p{
    font-size: 1.3em;
    font-weight: bolder;
    letter-spacing: 2px;
}
.divLogin{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btnLogin{
    margin-bottom: 20px;
    padding: 5px 10px 5px 15px;
    background: #f9a10f;
    font-size: 1.4em;
    font-weight: bolder;
    border: 2px solid #b8cbcd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.btnLogin:hover{
    background: #b8cbcd;
    border: 2px solid #f9a10f;
    box-shadow: 2px 2px 2px gray;
}
.linkRegistro{
    color: #b8cbcd;
    text-decoration: none;
}
.linkRegistro:hover{
    color: #f9a10f;
}
.imgLogin{
    width: 20px;
}
.navBar{
    background: #1b829e;
    position: relative;
}
.navBar ul{
    margin-left: 65px;
    display: flex;
}
.navBar li{
    margin: 15px 30px;
    list-style-type: none;
}
.link{
    color: #f9a10f;
    font-size: 1.2em;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 1px;
}
.link:hover{
    color: #d6eaeb;
}
.cart{
    width: 80px;
    position: absolute;
    right: 3%;
    top: 15px;
    cursor: pointer;
}
.counter{
    padding: 4px 8px 6px 10px;
    background: #1b829e;
    color: #f9a10f;
    font-size: 0.9em;
    border: 2px solid #d6eaeb;
    border-radius: 50%;
    position: absolute;
    right: 2.5%;
    top: 65px;
}

/* Estilos Main */
.main{
    height: 100%;
    background: #fffaf1;
}

/* Estilos Products */
.divProducts{
    margin: 0 9%;
    padding-bottom: 50px;
    background: linear-gradient(#f9a10fa1, #fffaf1, transparent);
}
.h2Products{
    padding: 50px 100px 0;
    color: #1b829e;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 1px;
}

/* Estilos Footer */
footer{
    height: 50px;
    background: #d6eaeb;
    color: #f9a10f;
    font-size: 1.2em;
    font-weight: bolder;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}